{% extends "base.html" %}

{% block content %}
  {{ page.content }}
  {% set resources_pages = [] %}
  {% set databases_pages = [] %}
    {% for this_file in pages %}
      {% set this_page = this_file.page %}
      {% if this_page.meta is defined %}
        {% if this_page.url.startswith(config.extra.resources.dir) and this_page.meta.title is defined %}
          {% if this_page.meta.is_database is defined %}
            {{ databases_pages.append( this_page ) or "" }}
          {% else %}
            {{ resources_pages.append( this_page ) or "" }}
          {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}

<h1>Databases</h1>

  {% for page in (databases_pages|sort(attribute="meta.title")) %}
<h2 class="mdx-author"><a href="{{ page.url|url }}">{{ page.title }}</a></h2>
    {% if page.meta.description is defined %}
<h5>{{ page.meta.description }}</h5>
    {% endif %}
    {% if page.meta.logo is defined %}
<img style="float: right; max-width: 160px;" src="/img/{{ page.meta.logo}}" />
    {% endif %}
      <!-- Use a hidden p tag to provide a preview -->
    {% if config.extra.resources.extended_preview %}
      {{ page.content.split(config.extra.resources.excerpt_separator, 1)[0] }}
<a href="{{ page.url|url }}#more"><span class="twemoji">
      {% include ".icons/octicons/arrow-right-24.svg" %}
</span>Continue reading</a>
      {% endif %}
<hr>
  {% endfor %}

<h1>Other Resources and Information</h1>

  {% for page in (resources_pages|sort(attribute="meta.title")) %}
<h2 class="mdx-author"><a href="{{ page.url|url }}">{{ page.title }}</a></h2>
    {% if page.meta.description is defined %}
<h5>{{ page.meta.description }}</h5>
      {% endif %}
    {% if page.meta.logo is defined %}
<img style="float: right; max-width: 160px;" src="/img/{{ page.meta.logo}}" />
    {% endif %}
      <!-- Use a hidden p tag to provide a preview -->
    {% if config.extra.resources.extended_preview %}
      {{ page.content.split(config.extra.resources.excerpt_separator, 1)[0] }}
<a href="{{ page.url|url }}#more"><span class="twemoji">
      {% include ".icons/octicons/arrow-right-24.svg" %}
</span>Continue reading</a>
      {% endif %}
<hr>
  {% endfor %}

{% endblock %}
