/**
ELIXIR colors:
 * orange: #F47D1F
 * dark blue: #023453
**/

:root {
  --site-color: #023453;
}

#headband {
  background-color: #023453;
  height: 48px;
  box-shadow: 0 0 .2rem rgba(0,0,0,.1),0 .2rem .4rem rgba(0,0,0,.2)
}

#logo_topleft {
  float: left;
  margin-top: 24px;
  margin-left: 15px;
  width: 50px;
}

#logo_topright {
  float: right;
  margin-top: 6px;
  margin-right: 15px;
  width: 48px; 
}

#sitelogo {}

#outlinks {}

#catlinks {}

#tagcloud {}
